# .gitignore

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.gh-orig
*.egg-info/
dist/
build/
*.egg
*.so
*.dylib
.pytest_cache

# Virtual environment
.venv/

# Local configuration
config/config.yaml

# Logs
logs/

# Visual Studio Code settings
.vscode/

# macOS-specific files
.DS_Store
__MACOSX/

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux-specific files
*~
.directory
.Trash-*

# Proyect output
output/
persistent_data.json

# Pipreqs files
requirements.in

# Logs
gptwntranslator.log

